<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace接口的全路径，用于关联dao层接口-->
<mapper namespace="com.jxd.studentManage.mapper.ICourseMapper">
    <select id="getAllCourse" resultType="Course">
        select * from course
    </select>
    <insert id="addCourse">
        insert into course(coursename,status) values(#{courseName},#{status})
    </insert>
</mapper>