<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace接口的全路径，用于关联dao层接口-->
<mapper namespace="com.jxd.studentManage.mapper.ISEvaluationMapper">
    <!--获取班期-->
    <select id="getClassName" resultType="java.util.HashMap">
        select  c.classname
            from student s
            left join
            class c
            on s.classid = c.classid
            WHERE s.studentid = #{studentid}
    </select>

    <!--获取成绩-->
    <select id="getOneStudentScore" resultType="java.util.HashMap">
        select c.courseid,c.coursename,g.grade
            from course c
            left join grade g
            on c.courseid=g.courseid
            where g.studentid = #{studentid}
            group by c.courseid
    </select>

    <!--获取整体评级成绩-->
    <select id="getStudentEvaluation" resultType="java.util.HashMap">
        select se.evaluater,se.score,se.evaluation
        from student s
        left join
        sevaluation se
        on s.studentid = se.studentid
        WHERE s.studentid = #{studentid}
    </select>

    <!--打分-->
    <update id="setScore">
        update grade
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="grade = case " suffix="end,">
                <foreach collection="studentid" item="grade" index="index">
                    <if test="grade.studentid!=null and grade.courseid!=null ">
                        when studentid=#{studentid} and courseid = #{grade.courseid}
                        then #{grade.grade}
                    </if>
                </foreach>
            </trim>
        </trim>
        where studentid = #{studentid} and courseid in
        <foreach collection="studentid"  item="grade" index="index" open="(" separator="," close=")">
            #{grade.courseid}
        </foreach>
    </update>

    <!--评价-->
    <update id="setEva">
        update sevaluation se left join student s on se.studentid = s.studentid
        set evaluation = #{evaluation} where studentname = #{studentname}
    </update>
</mapper>