<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.studentManage.mapper.IStudentMapper">
    <select id="getOneStudent" resultType="java.util.Map">
        select s.*,d.departmentname,c.classname from student s,department d,class c
        where s.departmentid=d.departmentid
        and s.classid=c.classid and studentid = #{studentId}
    </select>
    
</mapper>