<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.studentManage.mapper.IStudentListMapper">
    <!--默认显示查询全部员工数据-->
    <select id="getAllStudent" resultType="java.util.HashMap">
        SELECT s.*,de.departmentname,du.dutyname,c.classname
        FROM student s,department de,duty du,class c
        where s.departmentid=de.departmentid
        and s.dutyid=du.dutyid and c.classid = s.classid and s.isdelete= 0
    </select>

    <select id="getAllStudentByName" resultType="java.util.HashMap">
            select s.*,de.departmentname,du.dutyname,c.classname
            from student s
            LEFT JOIN department de ON s.departmentid = de.departmentid
            LEFT JOIN duty du ON s.dutyid = du.dutyid
            LEFT JOIN class c on c.classid = s.classid
            where s.studentname like concat("%",#{studentname},"%") and s.isdelete=0
    </select>

    <select id="getAllStudentByDept" resultType="java.util.HashMap">
            select s.*,de.departmentname,du.dutyname,c.classname
            from student s
            LEFT JOIN department de ON s.departmentid = de.departmentid
            LEFT JOIN duty du ON s.dutyid = du.dutyid
            LEFT JOIN class c on c.classid = s.classid
            where de.departmentname like concat("%",#{departmentname},"%") and s.isdelete=0
    </select>

    <select id="getAllStudentByNameAndDept" resultType="java.util.HashMap">
        select s.*,de.departmentname,du.dutyname
        from student s
        LEFT JOIN department de ON s.departmentid = de.departmentid
        LEFT JOIN duty du ON de.departmentid = du.dutyid
        where s.studentname like concat("%",#{studentname},"%")
        and de.departmentname like concat("%",#{departmentname},"%") and s.isdelete=0
    </select>

    <!--老师-->
    <select id="getAllTeacher" resultType="java.util.HashMap">
        SELECT t.teacherid id,t.teachername name,de.departmentname,du.dutyname
        FROM teacher t,department de,duty du
        where t.departmentid=de.departmentid
        and t.dutyid=du.dutyid
    </select>

    <select id="getAllTeacherByName" resultType="java.util.HashMap">
            select t.teacherid id,t.teachername name,de.departmentname,du.dutyname
            from teacher t
            LEFT JOIN department de ON t.departmentid = de.departmentid
            LEFT JOIN duty du ON t.dutyid = du.dutyid
            where t.teachername like concat("%",#{teachername},"%")
    </select>

    <select id="getAllTeacherByDept" resultType="java.util.HashMap">
            select t.teacherid id,t.teachername name,de.departmentname,du.dutyname
            from teacher t
            LEFT JOIN department de ON t.departmentid = de.departmentid
            LEFT JOIN duty du ON t.dutyid = du.dutyid
            where de.departmentname like concat("%",#{departmentname},"%")
    </select>

    <select id="getAllTeacherByNameAndDept" resultType="java.util.HashMap">
        select t.teacherid id,t.teachername name,de.departmentname,du.dutyname
        from teacher t
        LEFT JOIN department de ON t.departmentid = de.departmentid
        LEFT JOIN duty du ON de.departmentid = du.dutyid
        where t.teachername like concat("%",#{teachername},"%")
        and de.departmentname like concat("%",#{departmentname},"%")
    </select>


    <!--经理-->
    <select id="getAllManager" resultType="java.util.HashMap">
        SELECT m.managerid id,m.managername name,de.departmentname,du.dutyname
        FROM manager m,department de,duty du
        where m.departmentid=de.departmentid
        and m.dutyid=du.dutyid
    </select>

    <select id="getAllManagerByName" resultType="java.util.HashMap">
            select m.managerid id,m.managername name,de.departmentname,du.dutyname
            from manager m
            LEFT JOIN department de ON m.departmentid = de.departmentid
            LEFT JOIN duty du ON m.dutyid = du.dutyid
            where m.managername like concat("%",#{managername},"%")
    </select>

    <select id="getAllManagerByDept" resultType="java.util.HashMap">
            select m.managerid id,m.managername name,de.departmentname,du.dutyname
            from manager m
            LEFT JOIN department de ON m.departmentid = de.departmentid
            LEFT JOIN duty du ON m.dutyid = du.dutyid
            where de.departmentname like concat("%",#{departmentname},"%")
    </select>

    <select id="getAllManagerByNameAndDept" resultType="java.util.HashMap">
        select m.managerid id,m.managername name,de.departmentname,du.dutyname
        from manager m
        LEFT JOIN department de ON m.departmentid = de.departmentid
        LEFT JOIN duty du ON de.departmentid = du.dutyid
        where m.managername like concat("%",#{managername},"%")
        and de.departmentname like concat("%",#{departmentname},"%")
    </select>

    <!--假删除-->
    <update id="delStudent">
        update student set isdelete=1 where studentid in(
        <foreach collection="array" item="studentId" separator=",">
            #{studentId}
        </foreach>
        )
    </update>

    <!--修改-->
    <update id="editStudent">
        update student set
        nation=#{nation},birthday=#{birthday},address=#{address},isMarried=#{isMarried},tel=#{tel},
        school=#{school},major=#{major},remark=#{remark},photo=#{photo},idCard=#{idCard}
        where studentid = #{studentid}
    </update>

    <!--添加-->
    <insert id="addStudent">
        insert into student
        (studentname,nation,birthday,address,isMarried,tel,school,major,remark,photo,idCard)
        values
        (#{studentname},#{nation},#{birthday},#{address},#{isMarried},#{tel},#{school},#{major},
        #{remark},#{photo},#{idCard})
    </insert>
</mapper>