<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.studentManage.mapper.ITeacherMapper">

    <select id="getAllStudentByTeacherName" resultType="java.util.HashMap">
        select s.studentid,s.studentname,c.classname,t.teachername from student s
	    left join class c on s.classid = c.classid
	    left join teacher t on c.teacherid = t.teacherid
      where t.teacherid	= (select teacherid from teacher where teachername = #{name}) and s.isdelete=0
    </select>

    <select id="selectOneStudentByName" resultType="java.util.HashMap">
        select s.studentid,s.studentname,c.classname,t.teachername from student s
        left join class c on s.classid = c.classid
	    left join teacher t on c.teacherid = t.teacherid
	    where s.studentname like concat("%",#{name},"%") and s.isdelete=0
    </select>
</mapper>